<?xml version="1.0"?>
<config>
    <modules>
        <Altteam_Qwintry>
            <version>0.1.0</version>
        </Altteam_Qwintry>
    </modules>
    <frontend>
        <routers>
            <pickup>
                <use>standard</use>
                <args>
                    <module>Altteam_Qwintry</module>
                    <frontName>pickup</frontName>
                </args>
            </pickup>
            <checkout>
                <args>
                    <modules>
                        <altteam_qwintry before="Mage_Checkout">Altteam_Qwintry_Checkout</altteam_qwintry>
                    </modules>
                </args>
            </checkout>
        </routers>
        <layout>
            <updates>
                <pickup>
                    <file>qwintry.xml</file>
                </pickup>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <altteam_qwintry before="Mage_Adminhtml">Altteam_Qwintry_Adminhtml</altteam_qwintry>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <modulename>
                    <file>qwintry.xml</file>
                </modulename>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <events>
            <checkout_controller_onepage_save_shipping_method>
                <observers>
                    <checkout_controller_onepage_save_shipping_method>
                        <type>model</type>
                        <class>altteam_qwintry/observer</class>
                        <method>saveShippingMethod</method>
                    </checkout_controller_onepage_save_shipping_method>
                </observers>
            </checkout_controller_onepage_save_shipping_method>
            <sales_model_service_quote_submit_after>
                <observers>
                    <checkout_controller_onepage_save_shipping_method>
                        <type>model</type>
                        <class>altteam_qwintry/observer</class>
                        <method>saveOrderAfter</method>
                    </checkout_controller_onepage_save_shipping_method>
                </observers>
            </sales_model_service_quote_submit_after>
            <sales_order_load_after>
                <observers>
                    <sales_order_load_after>
                        <type>model</type>
                        <class>altteam_qwintry/observer</class>
                        <method>loadOrderAfter</method>
                    </sales_order_load_after>
                </observers>
            </sales_order_load_after>
            <sales_quote_load_after>
                <observers>
                    <sales_quote_load_after>
                        <type>model</type>
                        <class>altteam_qwintry/observer</class>
                        <method>loadQuoteAfter</method>
                    </sales_quote_load_after>
                </observers>
            </sales_quote_load_after>
        </events>
        <models>
            <sales>
                <rewrite>
                    <order>Altteam_Qwintry_Model_Sales_Order</order>
                </rewrite>
            </sales>
            <altteam_qwintry>
                <class>Altteam_Qwintry_Model</class>
                <resourceModel>altteam_qwintry_mysql4</resourceModel>
            </altteam_qwintry>
            <altteam_qwintry_mysql4>
                <class>Altteam_Qwintry_Model_Mysql4</class>
                <entities>
                    <pickup>
                        <table>order_shipping_pickup</table>
                    </pickup>
                </entities>
            </altteam_qwintry_mysql4>
        </models>
        <helpers>
            <altteam_qwintry>
                <class>Altteam_Qwintry_Helper</class>
            </altteam_qwintry>
        </helpers>
        <resources>
            <pickup_setup>
                <setup>
                    <module>Altteam_Qwintry</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </pickup_setup>
            <pickup_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </pickup_write>
            <pickup_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </pickup_read>
        </resources>
        <blocks>
            <altteam_qwintry>
                <class>Altteam_Qwintry_Block</class>
            </altteam_qwintry>
        </blocks>
    </global>
    <default>
        <carriers>
            <altteam_qwintry>
                <active>1</active>
                <sort_order>10</sort_order>
                <model>altteam_qwintry/carrier</model>
                <title>Qwintry Air</title>
                <sort_order>10</sort_order>
                <sallowspecific>1</sallowspecific>
            </altteam_qwintry>
        </carriers>
    </default>
</config>